{% extends "IfenslPadManagerBundle::adminlayout.html.twig" %}

{% block header %}
    {{ parent() }}
    <h1>Administration du cahier de cours</h1>
{% endblock %}

{% block main %}
    <div class="container">
        <form method="get" action="{{  path('admin_pads') }}">
            {{ form_rest(filterForm) }}
            <input class="btn btn-primary" type="submit" name="submit-filter" value="Filtrer" />
        </form>
        {{ include('IfenslPadManagerBundle:Admin:pagination.html.twig', {'routeName': 'admin_pads', 'routeParams':{'pager': pager}}) }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Programme</th>
                    <th>Unité d'enseignement</th>
                    <th>Année scolaire</th>
                    <th>Titre</th>
                    <th colspan="2">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for pad in pager.currentPageResults %}
                    <tr>
                        <td>
                            {{ pad.padOwner }}
                        </td>
                        <td>
                            {{ pad.program }}
                        </td>
                        <td>
                            {{ pad.unit }}
                        </td>
                        <td>
                            {{ pad.schoolYear }}
                        </td>
                        <td>
                            {{ pad.title }}
                        </td>
                        <td>
                            <a class="btn btn-block btn-primary"
                               href="{{ path('ifensl_pad_show_private', {'slug': pad.slug, 'private_token': pad.privateToken}) }}"
                            >
                                Voir
                            </a>
                            {{ render(controller('IfenslPadManagerBundle:Admin:deleteForm', { 'id': pad.id })) }}
                        </td>
                    </tr>
                {%  else %}
                    <tr>
                        <td colspan="6">Aucun pad n'a été trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ include('IfenslPadManagerBundle:Admin:pagination.html.twig', {'routeName': 'admin_pads', 'routeParams':{'pager': pager}}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}