{% extends "IfenslPadManagerBundle::layout.html.twig" %}

{% block header %}
    {{ parent() }}
    <h1>Cahier de cours</h1>
{% endblock %}

{% block main %}
    <div class="content container new-pad">
        <form action="{{ path('ifensl_pad_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
        <a class="get-all-pads-button ajax-ready" href="{{ path('ifensl_pad_list') }}">Tous mes pads</a>
        <div class="mentions">
            <p>
                Nous recueillons des informations personnelles sur l'utilisation
                de votre cahier de cours.<br />
                Pour en savoir plus sur l'utilisation de ses informations,
                veuillez consulter notre <a href="{{ path('ifensl_pad_privacy') }}">charte de confidentialité</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/loadListModal.js') }}"></script>
{% endblock %}