{% extends "IfenslPadManagerBundle::layout.html.twig" %}

{% block header %}
    <h1>
        <span>{{ pad.schoolYear }} {{ pad.program }} {{ pad.unit }}</span>
        {{ pad.title }}
    </h1>
{% endblock %}

{% block main %}
    <iframe src="{{ etherpad_url }}/p/{{ pad.padId }}?showChat=true&showLineNumbers=true&lang=fr"></iframe>
{% endblock %}
