{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ifenslpadmanager/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ifenslpadmanager/css/adminstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ifenslpadmanager/js/chosen1.2.0/chosen.min.css') }}" />
{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash-notice">
                        <p>{% autoescape false %}{{ flashMessage }}{% endautoescape %}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if app.session.flashbag.has('info') %}
            <div class="alert alert-info fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-notice">
                        <p>{% autoescape false %}{{ flashMessage }}{% endautoescape %}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if app.session.flashbag.has('error') %}
            <div class="alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p>{% autoescape false %}{{ flashMessage }}{% endautoescape %}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endblock %}
    </header>

    <div id="main">
        {% block main %}{% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/chosen1.2.0/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/chosen.js') }}"></script>
{% endblock %}
